|<section class="historia-seccion izq2der">
    <h2 class="titulo-historia">Nuestra historia</h2>
    <p class="parrafo-historia">
        Hace seis años, un grupo de abogados con una visión clara y un profundo compromiso por la justicia y el servicio a la comunidad decidieron unir fuerzas para fundar un estudio jurídico. Con el objetivo de asesorar a personas y empresas en la resolución de sus problemas legales, este equipo de profesionales se ha destacado por su dedicación y ética en cada caso que han tomado.
    </p>
    <p class="parrafo-historia">
        Desde sus inicios, este estudio de abogados se ha preocupado por comprender las necesidades específicas de cada cliente, brindando asesoramiento personalizado y soluciones adaptadas a cada situación. A lo largo de los años, han logrado construir una sólida reputación basada en la calidad de su trabajo, la confianza generada entre sus clientes y la eficacia demostrada en la resolución de conflictos legales.
    </p>
    <p class="parrafo-historia">
        Con un enfoque en la excelencia y la integridad, este estudio jurídico ha logrado ganarse la confianza de personas y empresas que buscan respuestas claras y efectivas para sus problemas legales. Su compromiso con la justicia y el bienestar de sus clientes ha sido la piedra angular de su éxito a lo largo de estos seis años de trayectoria, consolidándose como un referente en el asesoramiento legal en la comunidad.
    </p>
</section>

<section class="valores-seccion aba2arr">
    <h2 class="titulo-historia">Valores y principios</h2>
    <p class="parrafo-historia">
        Nuestra misión es ser un bufete de abogados destacado por su excelencia en el apoyo legal y la profesionalidad de sus miembros, procurando seguridad y confianza a través de soluciones completas y adaptadas a las necesidades individuales de cada cliente, con el compromiso de lograr el éxito en sus asuntos legales. Además, buscamos alcanzar el desarrollo personal y profesional de los integrantes del Estudio, manteniendo los más altos estándares éticos y de excelencia.
    </p>
    <p class="parrafo-historia">
        Nuestra visión es ser un referente en el mercado legal argentino, consolidando nuestro crecimiento con experiencia y eficiencia profesional, ofreciendo un servicio integral de calidad en asesoramiento legal y consultoría, reconocido por nuestros valores y eficacia probada.
    </p>
</section>

<section class="principios-seccion izq2der">
    <h2 class="titulo-historia">Principios fundamentales</h2>
    <ul class="lista-principios">
        <li>Ética</li>
        <li>Compromiso</li>
        <li>Calidad</li>
        <li>Confidencialidad</li>
    </ul>
</section>


    
            
