<div class="container-fluid text-dark mt-5">

    <section class="planes mt-5 aba2arr">

        <div class="contenedor">
            <div class="tabla">
                <div class="icono">
                    <i class="fas fa-book"></i>
                </div>
                <h2>Derecho de Familia</h2>
                <button type="button" class="my-custom-btn" data-toggle="modal" data-target="#modalFamilia">
                    Ver más
                </button>
            </div>
        </div>

        <div class="contenedor">
            <div class="tabla">
                <div class="icono">
                    <i class="fas fa-gavel"></i>
                </div>
                <h2>Derecho Penal</h2>
                <button type="button" class="my-custom-btn" data-toggle="modal" data-target="#modalPenal">
                    Ver más
                </button>
            </div>
        </div>
        <div class="contenedor">
            <div class="tabla">
                <div class="icono">
                    <i class="fas fa-heart-broken"></i>
                </div>
                <h2>Divorcios</h2>
                <button type="button" class="my-custom-btn" data-toggle="modal" data-target="#modalDivorcio">
                    Ver más
                </button>
            </div>
        </div>
    </section>




    <!-- Modal Derecho de Familia -->
    <div class="modal fade" id="modalFamilia" tabindex="-1" role="dialog" aria-labelledby="modalFamiliaTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="modalFamiliaTitle">Derecho de Familia</h5>
                    <button type="button " class="btn-close btn btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body custom-modal-body">
                    <img src="images/inicioestudio8.jpeg" class="img-fluid">
                    <p align="justify" class="text-dark">Derecho de Familia: El derecho familiar es una rama del
                        derecho civil que regula las relaciones personales y patrimoniales dentro del núcleo familiar.
                        <br> <br>
                        Se centra en la familia, el matrimonio y la filiación, regulando la formación y disolución de la
                        familia. La judicialización de reclamos en temas como divorcios, alimentos, cuidador personal,
                        compensación económica son materias de su competencia. <br> <br>
                        Dentro del Derecho de Familia también se encuentran las Uniones Conyugales: que contempla
                        diferentes tipos de uniones reconocidas legalmente, como el matrimonio, el concubinato y el
                        matrimonio igualitario. <br> <br>
                        La Adopción es otro instituto que tiene por objeto proteger el derecho de los niños, niñas y
                        adolescentes a vivir y desarrollarse en una familia que le brinde los cuidados necesarios para
                        satisfacer sus necesidades afectivas y materiales. El proceso de adopción permite asegurar los
                        derechos del menor y la idoneidad de la familia adoptiva. <br> <br>
                        Rol del Abogado Asesor y Negociador: El abogado de familia no solo prepara demandas y asiste a
                        juicios, sino también asesora al cliente durante todo el proceso. La empatía, la escucha activa,
                        la contención jurídica y la negociación son habilidades esenciales en este ámbito. <br> <br>
                        En un mundo cambiante, las relaciones familiares cambian continuamente, las modificaciones de
                        acuerdos previos es moneda corriente, como el centro de vida de un niño o la cuantía de la
                        obligación alimentaria son cuestiones en continuo cambio. Las necesidades y requerimientos de
                        los menores están en evolución y cambio permanente. Los abogados debemos estar preparados y
                        adaptarnos a las nuevas circunstancias de las familias</p>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="/formulario" class="btn btn-primary">Solicitar turno</a>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Derecho Penal -->
    <div class="modal fade" id="modalPenal" tabindex="-1" role="dialog" aria-labelledby="modalPenalTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="modalPenalTitle">Derecho Penal</h5>
                    <button type="button" class="btn-close btn btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body custom-modal-body">
                    <img src="images/inicioestudio8.jpeg" class="img-fluid">
                    <p align="justify" class="text-dark">Nuestros abogados penalistas son profesionales especializados
                        en Derecho Penal. Nuestra función principal es representar a personas o empresas acusadas de
                        cometer un delito, ya sea como defensor o como querellante. <br><br>
                        Como querellante, el abogado penalista actúa en nombre de la víctima o parte afectada,
                        presentando pruebas y argumentando en contra del acusado. Además, también asesora sobre cómo
                        evitar delitos y mitigar riesgos legales. Si necesitas asistencia legal, no dudes en
                        contactarnos somos tu abogado penalista de confianza. <br> <br>
                        Te asistimos como: <br>
                        Defensa Técnica: Representa a acusados en juicios penales, elaborando estrategias para proteger
                        sus derechos y garantías procesales. <br>
                        Asesoramiento: Brinda consejos legales a clientes sobre cómo actuar ante situaciones penales o
                        cómo evitar conductas delictivas. <br>
                        Negociación: Busca acuerdos con la parte acusadora o fiscalía para reducir cargos o penas.
                        Investigación: Analiza pruebas, entrevista testigos y recopila evidencia para construir una
                        defensa sólida. <br>
                        Presentación de querellas: En casos de víctimas, actúa como querellante, presentando pruebas y
                        argumentando en contra del acusado. <br>
                        Apelaciones: Representa a clientes en apelaciones ante tribunales superiores si no están
                        conformes con una sentencia. <br>
                        Derecho penal preventivo: Asesora sobre cómo evitar situaciones que puedan llevar a delitos o
                        infracciones. <br>
                        Recuerda que cada caso es único.
                    </p>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                   <a href="/formulario" class="btn btn-primary">Solicitar turno</a>
                </div>
            </div>
        </div>
    </div>






    <!-- Modal Divorcio -->
    <div class="modal fade" id="modalDivorcio" tabindex="-1" role="dialog" aria-labelledby="modaDivorcioTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="modalPenalTitle">Divorcios</h5>
                    <button type="button" class="btn-close btn btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body custom-modal-body">
                    <img src="images/inicioestudio8.jpeg" class="img-fluid">
                    <p align="justify" class="text-dark">
                        En Argentina, existen dos tipos principales de divorcio: <br> <br>
                        1. Divorcio por mutuo acuerdo:<br> <br>
                        Ambos cónyuges deben estar de acuerdo con el divorcio y deben presentar una propuesta de acuerdo
                        que incluya una propuesta sobre la división de los bienes gananciales, la cuota alimentaria (si
                        tienen hijos en común), la atribución de la vivienda; la distribución de los bienes; los
                        alimentos para los hijos; entre otras cuestiones, el régimen de comunicación y el centro de vida
                        de los menores (si tienen hijos en común). Otras cuestiones que consideren importantes.<br> <br>
                        Para ello, se presenta la propuesta de acuerdo ante un juez de familia con la asistencia de un
                        abogado de tu confianza. El juez analiza la propuesta y, si la considera justa y equitativa,
                        homologa el acuerdo y lo convierte en una sentencia judicial. El divorcio queda firme y se
                        inscribe en el Registro Civil. <br> <br>
                        2. Divorcio contencioso: <br> <br>
                        Uno de los cónyuges no está de acuerdo con el divorcio o no se llega a un acuerdo sobre las
                        condiciones del mismo. <br> <br>
                        Para ello, se inicia un juicio de divorcio en el que cada cónyuge presenta sus argumentos y
                        pruebas ante un juez por presentación unilateral de cada una de las partes. El juez dicta una
                        sentencia en la que resuelve sobre el divorcio, la división de los bienes, la cuota alimentaria
                        y el régimen de comunicación y visitas (si tienen hijos en común). La sentencia puede ser
                        apelada por cualquiera de las partes.
                        En ambos tipos de divorcio no es necesario alegar una causa para divorciarse, sino que con la
                        simple manifestación o intención de divorciarse es suficiente. No hay plazos de espera para
                        presentar la demanda de divorcio, pero, sí es obligatorio contar con un abogado para iniciar el
                        trámite.

                    </p>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
                 <a href="/formulario" class="btn btn-primary">Solicitar turno</a>
                </div>
            </div>
        </div>
    </div>
</div>



